<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <!-- <img src="/images/camera.svg"> -->
        <ul>
            <li>
                <a href="/" <%- title==='Flight Directory' ? 'class="active"' : '' %></a>Home</a>
            </li>
            <li>
                <a href="/flights" <%- title==='Flights' ? 'class="active"' : '' %></a>View Flights</a>
            </li>
            <li>
                <a href="/flights/new" <%- title==='Add Flight' ? 'class="active"' : '' %></a>Add Flight</a>
            </li>
        </ul>
    </nav>
    <main>
        <h1>
            <%= title %>
        </h1>